<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/app.css" />
    <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <title>Document</title>
  </head>
  <body mix-on="yes">

    <div id="tooltip"></div>

    <nav class="navbar">

    <div class="nav-left">
    {% if user %}
        <a class="logo" href="/profile"><i data-lucide="Earth"></i>TravelApp</a>
    {% else %}
        <a class="logo" href="/"><i data-lucide="Earth"></i>TravelApp</a>
    {% endif %}
</div>

    <div class="nav-right">

        {% if not user %}
        <a class="btn btn-signup" href="/signup"><i data-lucide="CirclePlus"></i>Sign up</a>
            <a class="btn btn-login" href="/login"><i data-lucide="UserRound"></i>Login</a>
        {% else %}
            <a class="btn btn-logout" href="/logout"><i data-lucide="LogOut"></i>Logout</a>
        {% endif %}

    </div>

</nav>