<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/app.css" />
    <title>Document</title>
  </head>
  <body>

    <div id="tooltip"></div>

    <nav>
        <a href="/index">Home</a>
        <a href="/signup">Sign up</a>
        
        {% if not user %}
        
            <a href="/login">Login</a>

        {% else %}

            <a href="/logout">Logout</a>

        {% endif %}

    </nav>