<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/app.css" />
    <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
    <title>Document</title>
  </head>
  <body>

    <div id="tooltip"></div>

    <nav class="navbar">

    <div class="nav-left">
    {% if user %}
        <a class="logo" href="/profile">TravelApp</a>
    {% else %}
        <a class="logo" href="/">TravelApp</a>
    {% endif %}
</div>

    <div class="nav-right">

        {% if not user %}
        <a class="btn btn-signup" href="/signup">Sign up</a>
            <a class="btn btn-login" href="/login">Login</a>
        {% else %}
            <a class="btn btn-logout" href="/logout">Logout</a>
        {% endif %}

    </div>

</nav>