{% include "_header.html" %}

<main>

    <div class="profile-title">
        <h1>Hello <strong>{{ user.user_first_name }}</strong>, welcome back!</h1>
    </div>

    <div class="profile-undertitle">
        <h2>Your previous trips:</h2>
        <button class="action_button" id="toggle-travel-form"><i data-lucide="PlaneTakeoff"></i>Log new travel</button>
    </div>


    <div class="travel-page">

        <!-- LEFT SIDE -->
        <div class="travel-card-container">

            {% for travel in travels %}
                {% include "___travel_card.html" %}
            {% else %}
                <h2 id="no-travels-text" class="no-travels-text">
                    You currently have no logged travels.
                </h2>
            {% endfor %}

        </div>


        <!-- RIGHT SIDE -->
        <div class="travel-form-container-grid-column-2">
            <div id="travel-form-container" style="display:none;">
                {% include "___form_create_travel.html" %}
            </div>
        </div>

    </div>

</main>

{% include "_footer.html" %}