{% include "_header.html" %}

<main class="travel-single-container">

    <div class="travel-row-1">

        <div class="travel-info">

            <h1>{{ travel.travel_title }}</h1>

            <p>
                <strong>Location:</strong>
                {{ travel.travel_location }}
            </p>

            <p>
                <strong>Country:</strong>
                {{ travel.travel_country.upper() }}
            </p>

            <p>
                <strong>Travel dates:</strong>
                {{ x.format_date_range(travel.travel_start_date, travel.travel_end_date) }}
            </p>

            <p>
                <strong>Description:</strong>
            </p>

            <p class="travel-description">{{ travel.travel_description }}</p>

        </div>

        <div class="travel-flag">
            <img
                class="_flag"
                src="https://flagcdn.com/{{ travel.travel_country.lower() }}.svg"
            >
        </div>

    </div>


    <div class="travel-row-2">

        <h2>Photos</h2>

        <div class="travel-photos">
            <img src="{{ travel.travel_photo_url }}">
        </div>

    </div>


    <div class="travel-actions">
        <button class="action_button">Update info</button>
        <button 
            class="delete_button"
            mix-delete="/travel/{{ travel.travel_pk }}">
            Delete
        </button>
    </div>

</main>

{% include "_footer.html" %}