{% include "_header.html" %} 

<main>
    <section class="hero">

        <h1>Track and remember your travels</h1>

        <p>
            Save your trips, locations, and memories in one place.
            Build your personal travel journal.
        </p>
    </section>

    <section class="example-travel-card">
        <h2>Log your trips like this!</h2>
        <br>
    <div class="travel-card">
        <div class="travel-card-left">
            <img
                class="flag"
                src="https://flagcdn.com/dk.svg"
            >
        </div>
        <div class="travel-card-right">
            <h3 class="travel-title">Trip to Denmark</h3>
            <p>Copenhagen</p>
            <p>Weekend getaway to beautiful Copenhagen</p>
            <p>March 13-15, 2026</p>
        </div>
        <div class="travel-card-photo">
                <img src="/static/examplephotos/Copenhagen.jpg" alt="photo of Nyhavn">
        </div>
    </div>
    <div class="travel-card">
        <div class="travel-card-left">
            <img
                class="flag"
                src="https://flagcdn.com/vn.svg"
            >
        </div>
        <div class="travel-card-right">
            <h3 class="travel-title">Trip to Vietnam</h3>
            <p>Ho Chi Minh City</p>
            <p>Weekend in the big city</p>
            <p>September 10-14, 2026</p>
        </div>
        <div class="travel-card-photo">
                <img src="/static/examplephotos/shutterstock_1939037803_0 (1).jpg" alt="photo of hochiminhcity">
        </div>
    </div>
    <div class="travel-card">
        <div class="travel-card-left">
            <img
                class="flag"
                src="https://flagcdn.com/jp.svg"
            >
        </div>
        <div class="travel-card-right">
            <h3 class="travel-title">Trip to Japan!</h3>
            <p>Tokyo, Osaka, Kyoto, Sapporo</p>
            <p>A lovely trip to Japan with my family</p>
            <p>March 2018 - April 2018</p>
        </div>
        <div class="travel-card-photo">
                <img src="/static/examplephotos/Tokyo-Tower.jpg" alt="photo of tokyo tower">
        </div>
    </div>
    </section>
</main>

    

{% include "_footer.html" %}